<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="Titulo">
      Calculadora do Amor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Pessoa 1 =</ion-label>
      <ion-input type="text" [(ngModel)] = "nome1" id="pessoa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Pessoa 2 =</ion-label>
      <ion-input type="text" [(ngModel)] = "nome2" id="pessoa"></ion-input>
    </ion-item>
    <div class="ion-text-center">
    <ion-item>
      <ion-button (click)="enviarDados()" id="Butao" >Testar compatibilidade</ion-button>
    </ion-item>
  </div>
  <div class="ion-text-center output-wrapper">
    <ion-icon name="heart" color="danger" slot="middle" class="heart-icon"></ion-icon>
    <div [class.ping] = "load">{{resultado}}%</div>
    {{relacao}}
  </div>
  </div>
</ion-content>
